* {	margin: 0; padding: 0; }

@font-face {
	font-family: "Ubuntu";
	src: url(./Ubuntu-R.ttf) format("truetype");
}

body {
	margin-left: auto;
	margin-right: auto;
	font-family: "Ubuntu", Verdana, Arial, sans-serif;
	background-color: #000000;
	color: #ffffff;
}

body, html, #sb-site, #siteWrapper {
	height: 100%;
}

.button-rollover {
	color: #b0f1e4;
	font-size: 10px;
	height: 100%;
	line-height: 30px;
	padding-left: 10px;
	top: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
	border-left: 3px solid #b0f1e4;
	z-index: 800;
	position: fixed;
}

.button-rollover span {
	background: url('./img/menu.gif') no-repeat center center;
	display: block;
	width: 18px;
	height: 20px;
	left: 5px;
	margin-top: -8px;
	position: fixed;
	text-indent: -9999px;
	top: 50%;
	z-index: 900;
}

.sb-slidebar {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

#accordian {
	width: 250px;
	display: table-cell;
	vertical-align: middle;
}

#accordian h3 {
	font-size: 14px;
	line-height: 34px;
}

#accordian li {
	list-style-type: none;
}

#accordian a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	display: block;
}

#accordian ul li ul li a {
	color: #b0f1e4;
	position: relative;
	font-size: 12px;
	margin: 0 0 5px 5px;
}

#accordian ul li ul li a:hover {
	text-decoration: underline;
}

#accordian h3 a:hover {
	color: #ababab;
}

#accordian ul ul {
	display: none;
}

#accordian li.active ul {
	display: block;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0 30px 0 30px;
}

.tablecell {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	text-transform: uppercase;
}

nav .bottomarea {
	bottom: 0;
	color: #a4a4a4;
	left: 0;
	padding-bottom: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}

nav .centeredColumnLogo {
	background: url('./img/welcome.png') no-repeat center center;
	height: 45px;
	margin-left: -50px;
	margin-top: -22px;
	position: absolute;
	left: 50%;
	top: 15%;
	width: 100px;
}

nav .centeredColumnLogo:hover {
	background: url('./img/welcomeHover.png') no-repeat center center;
}

nav {
	height: 100%;
	/* left: -280px; */
	position: fixed;
	width: 280px;
	z-index: 800;
}

#siteWrapper {
	width: 100%;
}

#siteWrapper a {
	color: #ababab;
	text-decoration: none;
}

#siteWrapper a:hover {
	text-decoration: underline;
}

#letterCanvas1 {
	padding-top: 30px;
}

#letterCanvas2 {
	display: none;
}

#letterCanvas1Alt {
	display: none;
}

.siteEntry {
	clear: both;
	text-align: center;
	padding: 5px 30px 5px 30px;
	min-width: 900px;
	margin-bottom: 30px;
}

.borderLine {
	width: 250px;
	margin: 0 auto 30px auto;
	border-top: 1px solid;
}

#section0, #section1, #section2, #section3, #section4 {
	min-width: 960px;
	min-height: 500px;
	height: 100%;
}

#section0 {
	background-image: url('./img/back0.png');
	color: #ffffff;
}

#section1 {
	background-image: url('./img/back1.png');
	color: #f9ffea;
}

#section2 {
	background-image: url('./img/back2.png');
	color: #e3fac6;
}

#section3 {
	background-image: url('./img/back3.png');
	color: #d1c8d4;
}

#section4 {
	background-image: url('./img/back4.png');
	color: #d1c8d4;
}

.centeredColumnMe, .centeredColumnLogo, .centeredColumnTrailer {
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.centeredColumnMe {
	width: 350px;
}

.details {
	width: 800px;
	font-size: 18px;
	text-align: left;
	margin: 30px auto 30px auto;
}

.images {
	width: 800px;
	margin: 0 auto;
}

.detailLine, .detailHeader {
	margin: 5px;
}

.detailLine {
	border-top: 1px dashed #ababab;
}

.centeredColumnLogo {
	width: 400px;
	text-align: center;
	vertical-align: middle;
	font-size: 60px;
}

.centeredColumnTrailer {
	vertical-align: middle;
}

.centeredColumnMe h1 {
	text-align: center;
	font-size: 25px;
}

.centeredColumnMe p {
	font-size: 13px;
}

.meEntry {
	clear: both;
	margin: 5px 15px 10px 15px;
}

.meColumnRight {
	text-align: right;
}

.meColumnLeft {
	float: left;
}

.meContact {
	font-size: 22px;
	padding-top: 15px;
}

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  2px solid #ababab;
	left: -5px;

	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(img/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(img/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(img/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(img/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(img/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	display: block;
	font-size: .85em;
	padding: 10px;
}