* {	margin: 0; padding: 0; }

@font-face {
	font-family: "Ubuntu";
	src: url(./Ubuntu-R.ttf) format("truetype");
}

body {
	margin-left: auto;
	margin-right: auto;
	font-family: "Ubuntu", Verdana, Arial, sans-serif;
	background-color: #000000;
	color: #ffffff;
}

body, html, #sb-site, #siteWrapper {
	height: 100%;
}

.button-rollover {
	color: #b0f1e4;
	font-size: 10px;
	height: 100%;
	line-height: 30px;
	padding-left: 10px;
	top: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
	border-left: 3px solid #b0f1e4;
	z-index: 800;
	position: fixed;
}

.button-rollover span {
	background: url('./img/menu.gif') no-repeat center center;
	display: block;
	width: 18px;
	height: 20px;
	left: 5px;
	margin-top: -8px;
	position: fixed;
	text-indent: -9999px;
	top: 50%;
	z-index: 800;
}

.sb-slidebar {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

#accordian {
	width: 250px;
	display: table-cell;
	vertical-align: middle;
}

#accordian h3 {
	font-size: 14px;
	line-height: 34px;
}

#accordian li {
	list-style-type: none;
}

#accordian a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	display: block;
}

#accordian ul li ul li a {
	color: #b0f1e4;
	position: relative;
	font-size: 12px;
	margin: 0 0 5px 5px;
}

#accordian ul li ul li a:hover {
	text-decoration: underline;
}

#accordian h3 a:hover {
	color: #ababab;
}

#accordian ul ul {
	display: none;
}

#accordian li.active ul {
	display: block;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0 30px 0 30px;
}

.tablecell {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	text-transform: uppercase;
}

nav .bottomarea {
	bottom: 0;
	color: #a4a4a4;
	left: 0;
	padding-bottom: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}

nav .logo {
	background: url('./img/welcome.png') no-repeat center center;
	height: 45px;
	margin-left: -50px;
	margin-top: -22px;
	position: absolute;
	left: 50%;
	top: 15%;
	width: 100px;
}

nav .logo:hover {
	background: url('./img/welcomeHover.png') no-repeat center center;
}

nav {
	height: 100%;
	/* left: -280px; */
	position: fixed;
	width: 280px;
	z-index: 800;
}

#siteWrapper {
	width: 100%;
}

#siteWrapper a {
	color: #ababab;
	text-decoration: none;
}

#siteWrapper a:hover {
	text-decoration: underline;
}

#letterCanvas1 {
	padding-top: 30px;
}

#letterCanvas2 {
	display: none;
}

#letterCanvas1Alt {
	display: none;
}

.siteEntry {
	clear: both;
	text-align: center;
	padding: 5px 30px 5px 30px;
	min-width: 900px;
}

#section0,
#section1,
#section2,
#section3{
	min-width: 960px;
	min-height: 500px;
	height: 100%;
}

#section0 {
	background-image: url('./img/back0.png');
}

#section1 {
	background-image: url('./img/back1.png');
}

#section2 {
	background-image: url('./img/back2.png');
}

.meCategory {
	width: 350px;
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.meCategory h1 {
	text-align: center;
	font-size: 25px;
}

.meCategory p {
	font-size: 13px;
}

.meEntry {
	clear: both;
	margin: 5px 15px 10px 15px;
}

.meColumnRight {
	text-align: right;
}

.meColumnLeft {
	float: left;
}

.meContact {
	font-size: 22px;
	padding-top: 15px;
}