* {	margin: 0; padding: 0; }

@font-face {
	font-family: "Ubuntu";
	src: url(./Ubuntu-R.ttf) format("truetype");
}

body {
	margin-left: auto;
	margin-right: auto;
	font-family: "Ubuntu", Verdana, Arial, sans-serif;
	background-color: #000000;
	color: #ffffff;
}

body, html, #sb-site, #siteWrapper {
	height: 100%;
}

.button-rollover {
	color: #b0f1e4;
	font-size: 10px;
	height: 100%;
	top: 0;
	float: left;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
	z-index: 800;
	position: absolute;
	background: url('./img/menu.png') repeat-y;
}

.sb-slidebar {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

#accordian {
	width: 250px;
	display: table-cell;
	vertical-align: middle;
}

#accordian h3 {
	font-size: 14px;
	line-height: 34px;
}

#accordian li {
	list-style-type: none;
}

#accordian a {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	display: block;
}

#accordian ul li ul li a {
	color: #b0f1e4;
	position: relative;
	font-size: 12px;
	margin: 0 0 5px 5px;
}

#accordian ul li ul li a:hover {
	text-decoration: underline;
}

#accordian h3 a:hover {
	color: #ababab;
}

#accordian ul ul {
	display: none;
}

#accordian li.active ul {
	display: block;
}

.table {
	display: table;
	width: 100%;
	height: 100%;
	margin: 0 30px 0 30px;
}

.tablecell {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	text-transform: uppercase;
}

nav .bottomarea {
	bottom: 0;
	color: #a4a4a4;
	left: 0;
	margin-bottom: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}

nav .centeredColumnLogo {
	background: url('./img/welcome.png') no-repeat center center;
	height: 45px;
	margin-left: -50px;
	margin-top: -22px;
	position: absolute;
	left: 50%;
	top: 15%;
	width: 100px;
}

nav .centeredColumnLogo:hover {
	background: url('./img/welcomeHover.png') no-repeat center center;
}

nav {
	height: 100%;
	/* left: -280px; */
	position: fixed;
	width: 280px;
	z-index: 800;
}

.socialMail, .socialLinkedin, .socialGithub, .socialFacebook, .socialGoogle {
	display: inline-block;
	margin: 5px 5px 50px 5px;
	height: 25px;
	width: 25px;
}

.socialMail {
	background: url('./img/mail.png');
}

.socialLinkedin {
	background: url('./img/linkedin.png');
}

.socialGithub {
	background: url('./img/github.png');
	height: 26px;
}

.socialFacebook {
	background: url('./img/facebook.png');
}

.socialGoogle {
	background: url('./img/google.png');
}

.socialMail:hover {
	background: url('./img/mailHover.png');
}

.socialLinkedin:hover {
	background: url('./img/linkedinHover.png');
}

.socialGithub:hover {
	background: url('./img/githubHover.png');
}

.socialFacebook:hover {
	background: url('./img/facebookHover.png');
}

.socialGoogle:hover {
	background: url('./img/googleHover.png');
}

#siteWrapper {
	width: 100%;
}

#siteWrapper a {
	color: #ababab;
	text-decoration: none;
}

#siteWrapper a:hover {
	text-decoration: underline;
}

#letterCanvas1 {
	padding-top: 30px;
}

#letterCanvas2 {
	display: none;
}

#letterCanvas1Alt {
	display: none;
}

.siteEntry {
	clear: both;
	text-align: center;
	padding: 5px 30px 5px 30px;
	min-width: 900px;
	margin-bottom: 30px;
}

.borderLine {
	width: 250px;
	margin: 0 auto 30px auto;
	border-top: 1px solid;
}

#section0, #section1, #section2, #section3, #section4, #section5 {
	min-width: 960px;
	min-height: 500px;
	height: 100%;
}

#section0 {
	background-image: url('./img/back0.png');
	color: #ffffff;
}

#section1 {
	background-image: url('./img/back1.png');
	color: #f9ffea;
}

#section2 {
	background-image: url('./img/back2.png');
	color: #e3fac6;
}

#section3 {
	background-image: url('./img/back3.png');
	color: #d1c8d4;
}

#section4 {
	background-image: url('./img/back4.png');
	color: #97b6f2;
}

#section5 {
	background-image: url('./img/back5.png');
	color: #3965de;
}

.centeredColumnMe, .centeredColumnLogo, .centeredColumnTrailer {
	text-align: left;
	display: inline-block;
	vertical-align: top;
}

.centeredColumnMe {
	width: 350px;
}

.details {
	width: 800px;
	font-size: 18px;
	text-align: left;
	margin: 30px auto 30px auto;
}

.entryHeading {
	font-size: 22px;
}

.images, .text {
	width: 800px;
	margin: 0 auto;
}

.slidesSimetry img, .slidesBalloon img {
	height: 450px;
}

.slidesSidelives img, .slidesAsylum img, .slidesBeingGood img {
	height: 600px;
}

.slidesAnton img {
	height: 526px;
}

.slides545 img {
	height: 477px;
}

.images {
	margin-bottom: 30px;
}

.text {
	width: 850px;
	border: 2px solid #ababab;
}
.detailLine, .detailHeader {
	margin: 5px;
}

.detailLine {
	border-top: 1px dashed #ababab;
}

#section5 .detailLine {
	border-top: 1px dashed #7776AB;
}

#section5 a {
	color: #7776AB;
}
.centeredColumnLogo {
	width: 400px;
	text-align: center;
	vertical-align: middle;
	font-size: 60px;
}

.centeredColumnTrailer {
	vertical-align: middle;
}

.centeredColumnMe h1 {
	text-align: center;
	font-size: 25px;
}

.centeredColumnMe p {
	font-size: 13px;
}

.meEntry {
	clear: both;
	margin: 5px 15px 10px 15px;
}

.meColumnRight {
	text-align: right;
}

.meColumnLeft {
	float: left;
}

.meContact {
	font-size: 22px;
	padding-top: 15px;
}